#!/bin/bash

# when `kubectl krew` not exist, skip install krew plugins
[[ ! $(kubectl krew version 2>/dev/null) ]] && exit 0

function add_index() {
    # index_name index_url
    kubectl krew index add "$1" "$2" || true
}

KREW_NO_UPGRADE_CHECK=1

{{ range .krew.index -}}
add_index {{ .name | quote }} {{ .url | quote }}
{{ end }}

kubectl krew install <<EOF
{{ range .krew.plugins -}}
{{ . }}
{{ end -}}
EOF
