#!/bin/bash

# no need to update and clean up commands
# brew auto update before install (brew update)
# brew auto cleanup old version after 30 days (brew cleanup)

{{ if eq .chezmoi.os "darwin" -}}

brew bundle --no-upgrade --no-lock --file=/dev/stdin <<EOF
{{ range .brew_packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .brew_packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .brew_packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ if eq .bitwarden.enabled "y" -}}
brew "bitwarden-cli" # Bitwarden-CLI
{{ end -}}

{{ if eq .mac.mas.enabled "y" -}}
{{ range .brew_packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
{{ end -}}
{{ end -}} # end macos section

brew bundle --no-upgrade --no-lock --file=/dev/stdin <<EOF
{{ range .brew_packages.linux.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .brew_packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

