#!/bin/bash

# for no confussed
## (( WSL )) || return 0
### exit if not WSL # wsl=0 -> 0 = false -> do return 0
#
## (( !WSL )) || return 0
### exit if WSL # wsl=1 -> !1 = 0 = false -> do return 0

set -ueEo pipefail

function preinstall() {
    # install_z4h() required curl (macos already have curl)
    sudo apt-get update -qq >/dev/null
    sudo sh -c 'DEBIAN_FRONTEND=noninteractive apt-get -o DPkg::options::="--force-confdef" -o DPkg::options::="--force-confold" upgrade -y'
    sudo apt-get install -y curl
    sudo apt-get autoremove -y
    sudo apt-get autoclean
}

function install_z4h() {
    # install zsh5.8 on /usr/local/bin for non-root user  (default is /usr/bin)
    sudo sh -c "$(curl -fsSL https://raw.githubusercontent.com/romkatv/zsh-bin/master/install)" \
        sh -d /usr/local -e yes
    sudo chsh -s /usr/local/bin/zsh "$USER"
}
function add_to_sudoers() {
    # This is to be able to create /etc/sudoers.d/"$username". WITH NO PASSWORD
    if [[ "$USER" == *'~' || "$USER" == *.* ]]; then
        echo >&2 "$0: invalid username: $USER"
        exit 1
    fi

    echo "Grant user a sudoer"
    sudo usermod -aG sudo "$USER"
    (( WSL )) || return 0
    echo "Remove user password for sudo"
    sudo tee /etc/sudoers.d/"$USER" <<<"$USER ALL=(ALL) NOPASSWD:ALL" >/dev/null
    sudo chmod 440 /etc/sudoers.d/"$USER"
}

function add_wsl_config() {
    [[ -f /etc/wsl.conf ]] && return 0
    cat <<EOF | sudo tee /etc/wsl.conf &>/dev/null
[boot]
systemd = true
[automount]
options = "metadata"
EOF
}

function fix_clock() {
    sudo hwclock -sv 2>/dev/null
}

# Set preferences for various applications.
function set_preferences() {
    # X11
    if [[ -z "${DISPLAY+X}" ]]; then
        export DISPLAY=:0
    fi
}

function show_fonts_directory_wsl() {
    echo -e "\033[0;36m Manual install fonts \033[0m"
    echo "right-click the font file and click Install for all users. This will install the font onto your machine."
    local path=$(wslpath $(cmd.exe /c "echo %LOCALAPPDATA%\Microsoft\\Windows\\Fonts" 2>/dev/null | sed 's/\r$//'))
    echo "$ open ${path}"
    bash -c "open ${path}"
}

function main() {
    umask o-w
    local WSL=0

    rm -rf ~/.cache

    {{ if eq .chezmoi.os "darwin" -}}
    # MACOS
    {{- else if eq .chezmoi.os "linux" -}}
    preinstall
    {{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    # WSL
    WSL=1
    add_wsl_config
    fix_clock
    set_preferences
    {{-   else }}
    # LINUX
    {{-  end }}

    # both LINUX and WSL
    add_to_sudoers
    {{- end }}

    install_z4h

    #  run zsh to load new fresh dependency and print terminate wsl command and exit
    # -i for interactive (data download in interactive mode only)

    # asdf-direnv setup
    zsh -ic "asdf direnv setup --shell zsh --version latest"

    echo
    echo "------------------------------"
    
    {{ if and (eq .chezmoi.os "linux") ((.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
    show_fonts_directory_wsl
    {{-  end }}

    zsh -c '
    if [[ -t 0 && -n "${WSL_DISTRO_NAME-}" ]]; then
    echo -e "\033[0;36m Restart WSL by run this command \033[0m"
    echo \$ wsl.exe \-\-shutdown
    fi
    ;exit
    '
}

main
