{{- writeToStdout "Git Config... \n" -}}
{{- /* prompStringOnce . "dataPath" "displayString" */ -}}
{{ $email := promptStringOnce . "git.email" "What is your email address" -}}
{{ $name := promptStringOnce . "git.name" "What is your name" -}}

[data.git]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
[diff]
    pager = "diff-so-fancy"

{{- writeToStdout "-------------------------------------------------\n" -}}
{{- writeToStdout "Want to ReEnter data?\nForce prompt*Once template functions to prompt\n" -}}
{{- writeToStdout "$ cz init --prompt\n" -}}
