{{- writeToStdout "Press 'enter' to use default vault \n" -}}
{{- writeToStdout " --- Git Config --- \n" -}}
{{- /* prompStringOnce . "dataPath" "displayString" */ -}}
{{- $email := promptStringOnce . "git.email" "What is your email address" -}}
{{- $name := promptStringOnce . "git.name" "What is your name" -}}

[data.git]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

{{- $putty_pageant := "n" -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $putty_pageant = (promptStringOnce . "putty_pageant.enabled" "Enable PUTTY pageant ? (y/n) " "n") -}}
{{-   end -}}
{{- end }}

[data.putty_pageant]
    enabled = {{ $putty_pageant | quote }}

{{- writeToStdout " --- Bitwarden data Config --- \n" -}}
{{- $bitwarden_enabled := promptStringOnce . "bitwarden.enabled" "Enable bitwarden vault (y/n)" "n" -}}
{{- $bw_ssh_config_hosts := "" -}}
{{- $bw_putty_ssh_key := "" -}}
{{- if eq "y" $bitwarden_enabled -}}
{{-   $bw_ssh_config_hosts = (promptStringOnce . "bitwarden.config_hosts" "bitwarden config_hosts secure note name" "dotfiles/.ssh/config_hosts") -}}
{{-   if eq "y" $putty_pageant -}}
{{-     $bw_putty_ssh_key =  (promptStringOnce . "bitwarden.putty_ssh_key" "bitwarden putty ssh keys attachment item name" "putty-ssh") -}}
{{-   end -}}
{{- end }}

[data.bitwarden]
    enabled = {{ $bitwarden_enabled | quote }}
    config_hosts = {{ $bw_ssh_config_hosts | quote }}
    putty_ssh_key = {{ $bw_putty_ssh_key | quote }}

[diff]
    pager = "diff-so-fancy"

{{- writeToStdout "-------------------------------------------------\n" -}}
{{- writeToStdout "Want to ReEnter data?\nForce prompt*Once template functions to prompt\n" -}}
{{- writeToStdout "$ cz init --prompt\n" -}}
